<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Biomatic - Twitter Bios that really mean something</title>
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="home">

    <h2>{{bio}}</h2>

</body>
</html>